/* MARK: navigation trees
 */

.docnav details {
  transition: all 0.5s ease-in-out;

  summary {
    cursor: zoom-in;
  }

  .expand {
    transition: 0.7s;
  }

  &[open] > summary {
    cursor: zoom-out;

    .expand {
      transform: rotate(-0.5turn);
    }
  }
}

/* MARK: theme selector
   Based on a form with three checkboxes, of which only one is shown at a time.
 */

:root {
  color-scheme: light dark;
}

body:has(#mode-system:checked) {
  label[for="mode-system"],
  label[for="mode-dark"] {
    display: none;
  }
}

body:has(#mode-light:checked) {
  color-scheme: light;

  label[for="mode-system"],
  label[for="mode-light"] {
    display: none;
  }
}

body:has(#mode-dark:checked) {
  color-scheme: dark;

  label[for="mode-light"],
  label[for="mode-dark"] {
    display: none;
  }
}

/* MARK: scrolling
 */

:root {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 10em;
}

@media (prefers-reduced-motion) {
  :root {
    scroll-behavior: auto;
  }

  *,
  ::before,
  ::after {
    animation-duration: 0.001s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001s !important;
  }
}
