body {
  margin: 0;
  tab-size: 4;
  min-height: 100vh;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: min(35%, 17em) min(50%, 60em) min(15%, 15em) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header"
    "docnav main pagenav ."
    "footer footer footer footer";

  > header {
    grid-area: header;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      flex: 1 1 auto;
      width: max(75%, 1000px);
      display: flex;
      align-items: center;
    }

    > div {
      gap: 0.5rem;
    }

    > nav {
      justify-content: center;

      a {
        flex: 1 0 auto;
        text-align: center;
        max-width: 10em;
      }
    }
  }

  /* stylelint-disable-next-line */
  > #docnav-popover:popover-open {
    height: 100vh;
    min-width: min(35%, 17em); /* as in grid column above */
    max-width: 90vw; /* leave room to close by clicking outside the popover */
    margin: 0;
  }

  > .docnav {
    grid-area: docnav;
  }

  > main {
    grid-area: main;
    max-width: 50em;
  }

  > .pagenav {
    grid-area: pagenav;
    padding-top: 1.5rem;
  }

  > footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      flex: 1 1 auto;
      /* width: max(75%, 50em); */
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
      "header"
      "docnav"
      "pagenav"
      "main"
      "footer";

    > header > * {
      width: 100vw;
    }

    > header > div > p,
    #docnav,
    #pagenav {
      display: none;
    }
  }
}
