.nav-container {
  details.components-versions {
    overflow-x: hidden;
    padding: 0.5rem;

    &[open] {
      max-height: 90vh;

      & > summary {
        margin-bottom: 0.5rem;

        .mdc-button__icon.expand {
          transform: rotate(-0.5turn);
        }
      }
    }

    > summary {
      display: flex;
      align-items: center;

      > a {
        flex-grow: 1;
        font-weight: bold;
      }

      .mdc-button__icon {
        transition: 0.7s;
      }
    }

    /* Antora components */
    > ul {
      > li {
        /* Antora versions */
        > ul {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          list-style: none;
          margin: 0.25rem 0 0.75rem 0;
          padding: 0;

          > li {
            padding: 0.2rem;
          }
        }
      }
    }
  }

  .nav_active {
    background-color: light-dark(var(--md-sys-color-surface-container-high-light), var(--md-sys-color-outline-variant-dark));
    font-weight: var(--body-font-weight-bold);
  }
}
