:root {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
  /* custom */
  --md-custom-color-important: var(--md-sys-color-primary);
  --md-custom-color-on-important: var(--md-sys-color-on-primary);
  --md-custom-color-important-container: var(--md-sys-color-primary-container);
  --md-custom-color-on-important-container: var(--md-sys-color-on-primary-container);
  --md-custom-color-warning: #ffba38;
  --md-custom-color-on-warning: #432c00;
  --md-custom-color-warning-container: #604100;
  --md-custom-color-on-warning-container: #ffdeac;
  --md-custom-color-caution: #f8acff;
  --md-custom-color-on-caution: #570067;
  --md-custom-color-caution-container: #7b0090;
  --md-custom-color-on-caution-container: #ffd6ff;
  --md-custom-color-tip: #55de9e;
  --md-custom-color-on-tip: #003822;
  --md-custom-color-tip-container: #005233;
  --md-custom-color-on-tip-container: #75fbb8;
  --md-custom-color-note: #9ecaff;
  --md-custom-color-on-note: #003258;
  --md-custom-color-note-container: #00497d;
  --md-custom-color-on-note-container: #d1e4ff;
}
