:root {
  --md-sys-color-primary: #b41b5c;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-primary-container: #ffd9e1;
  --md-sys-color-on-primary-container: #3f001a;
  --md-sys-color-secondary: #006875;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-secondary-container: #9cf0ff;
  --md-sys-color-on-secondary-container: #001f24;
  --md-sys-color-tertiary: #715c00;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-tertiary-container: #ffe17b;
  --md-sys-color-on-tertiary-container: #231b00;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error: #fff;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #f8fdff;
  --md-sys-color-on-background: #001f25;
  --md-sys-color-surface: #f8fdff;
  --md-sys-color-on-surface: #001f25;
  --md-sys-color-surface-variant: #e3e1ec;
  --md-sys-color-on-surface-variant: #46464f;
  --md-sys-color-outline: #847376;
  --md-sys-color-inverse-on-surface: #d6f6ff;
  --md-sys-color-inverse-surface: #00363f;
  --md-sys-color-inverse-primary: #ffb1c5;
  --md-sys-color-shadow: #000;
  --md-sys-color-surface-tint: #b41b5c;
  --md-sys-color-outline-variant: #d6c2c5;
  --md-sys-color-scrim: #000;

  /* custom */
  --md-custom-color-important: var(--md-sys-color-primary);
  --md-custom-color-on-important: var(--md-sys-color-on-primary);
  --md-custom-color-important-container: var(--md-sys-color-primary-container);
  --md-custom-color-on-important-container: var(--md-sys-color-on-primary-container);
  --md-custom-color-warning: #7e5700;
  --md-custom-color-on-warning: #fff;
  --md-custom-color-warning-container: #ffdeac;
  --md-custom-color-on-warning-container: #281900;
  --md-custom-color-caution: #a100bd;
  --md-custom-color-on-caution: #fff;
  --md-custom-color-caution-container: #ffd6ff;
  --md-custom-color-on-caution-container: #350040;
  --md-custom-color-tip: #006c45;
  --md-custom-color-on-tip: #fff;
  --md-custom-color-tip-container: #75fbb8;
  --md-custom-color-on-tip-container: #002112;
  --md-custom-color-note: #0061a4;
  --md-custom-color-on-note: #fff;
  --md-custom-color-note-container: #d1e4ff;
  --md-custom-color-on-note-container: #001d36;
}
