:root {
  --md-sys-color-primary-light: #b90d55;
  --md-sys-color-on-primary-light: #fff;
  --md-sys-color-primary-container-light: #ffd9e1;
  --md-sys-color-on-primary-container-light: #3f001a;
  --md-sys-color-secondary-light: #006875;
  --md-sys-color-on-secondary-light: #fff;
  --md-sys-color-secondary-container-light: #9cf0ff;
  --md-sys-color-on-secondary-container-light: #001f24;
  --md-sys-color-tertiary-light: #715c00;
  --md-sys-color-on-tertiary-light: #fff;
  --md-sys-color-tertiary-container-light: #ffe17b;
  --md-sys-color-on-tertiary-container-light: #231b00;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #fff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fff;
  --md-sys-color-on-background-light: #001f25;
  --md-sys-color-surface-light: #f8fdff;
  --md-sys-color-on-surface-light: #001f25;
  --md-sys-color-surface-dim-light: #f8fdff;
  --md-sys-color-on-surface-dim-light: #001f25;
  --md-sys-color-surface-bright-light: #f8fdff;
  --md-sys-color-on-surface-bright-light: #001f25;
  --md-sys-color-surface-container-light: #f8fdff;
  --md-sys-color-on-surface-container-light: #001f25;
  --md-sys-color-surface-container-low-light: #f8fdff;
  --md-sys-color-on-surface-container-low-light: #001f25;
  --md-sys-color-surface-container-lowest-light: #f8fdff;
  --md-sys-color-on-surface-container-lowest-light: #001f25;
  --md-sys-color-surface-container-high-light: #f8fdff;
  --md-sys-color-on-surface-container-high-light: #001f25;
  --md-sys-color-surface-container-highest-light: #f8fdff;
  --md-sys-color-on-surface-container-highest-light: #001f25;
  --md-sys-color-surface-variant-light: #e3e1ec;
  --md-sys-color-on-surface-variant-light: #46464f;
  --md-sys-color-outline-light: #847376;
  --md-sys-color-outline-variant-light: #d6c2c5;

  /* custom */
  --md-custom-color-important-light: var(--md-sys-color-primary-light);
  --md-custom-color-on-important-light: var(--md-sys-color-on-primary-light);
  --md-custom-color-important-container-light: var(--md-sys-color-primary-container-light);
  --md-custom-color-on-important-container-light: var(--md-sys-color-on-primary-container-light);
  --md-custom-color-warning-light: #7e5700;
  --md-custom-color-on-warning-light: #fff;
  --md-custom-color-warning-container-light: #ffdeac;
  --md-custom-color-on-warning-container-light: #281900;
  --md-custom-color-caution-light: #a100bd;
  --md-custom-color-on-caution-light: #fff;
  --md-custom-color-caution-container-light: #ffd6ff;
  --md-custom-color-on-caution-container-light: #350040;
  --md-custom-color-tip-light: #006c45;
  --md-custom-color-on-tip-light: #fff;
  --md-custom-color-tip-container-light: #75fbb8;
  --md-custom-color-on-tip-container-light: #002112;
  --md-custom-color-note-light: #0061a4;
  --md-custom-color-on-note-light: #fff;
  --md-custom-color-note-container-light: #d1e4ff;
  --md-custom-color-on-note-container-light: #001d36;
}
