:root {
  --md-sys-color-primary-dark: #ffb1c3;
  --md-sys-color-on-primary-dark: #660029;
  --md-sys-color-primary-container-dark: #8f003d;
  --md-sys-color-on-primary-container-dark: #ffd9e1;
  --md-sys-color-secondary-dark: #00daf3;
  --md-sys-color-on-secondary-dark: #00363d;
  --md-sys-color-secondary-container-dark: #004f58;
  --md-sys-color-on-secondary-container-dark: #9cf0ff;
  --md-sys-color-tertiary-dark: #edbe91;
  --md-sys-color-on-tertiary-dark: #462a09;
  --md-sys-color-tertiary-container-dark: #60401d;
  --md-sys-color-on-tertiary-container-dark: #ffdcba;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #680003;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a1b;
  --md-sys-color-on-background-dark: #ecdfe0;
  --md-sys-color-surface-dark: #514345;
  --md-sys-color-on-surface-dark: #ecdfe0;
  --md-sys-color-surface-dim-dark: #514345;
  --md-sys-color-on-surface-dim-dark: #ecdfe0;
  --md-sys-color-surface-bright-dark: #514345;
  --md-sys-color-on-surface-bright-dark: #ecdfe0;
  --md-sys-color-surface-container-dark: #455a64;
  --md-sys-color-on-surface-container-dark: #fff;
  --md-sys-color-surface-container-low-dark: #37474f;
  --md-sys-color-on-surface-container-low-dark: #fff;
  --md-sys-color-surface-container-lowest-dark: #263238;
  --md-sys-color-on-surface-container-lowest-dark: #fff;
  --md-sys-color-surface-container-high-dark: #78909c;
  --md-sys-color-on-surface-container-high-dark: #001f25;
  --md-sys-color-surface-container-highest-dark: #b0bec5;
  --md-sys-color-on-surface-container-highest-dark: #001f25;
  --md-sys-color-surface-variant-dark: #46464f;
  --md-sys-color-on-surface-variant-dark: #d6c2c5;
  --md-sys-color-outline-dark: #9e8c8f;
  --md-sys-color-outline-variant-dark: #514346;

  /* custom */
  --md-custom-color-important-dark: var(--md-sys-color-primary-dark);
  --md-custom-color-on-important-dark: var(--md-sys-color-on-primary-dark);
  --md-custom-color-important-container-dark: var(--md-sys-color-primary-container-dark);
  --md-custom-color-on-important-container-dark: var(--md-sys-color-on-primary-container-dark);
  --md-custom-color-warning-dark: #ffba38;
  --md-custom-color-on-warning-dark: #432c00;
  --md-custom-color-warning-container-dark: #604100;
  --md-custom-color-on-warning-container-dark: #ffdeac;
  --md-custom-color-caution-dark: #f8acff;
  --md-custom-color-on-caution-dark: #570067;
  --md-custom-color-caution-container-dark: #7b0090;
  --md-custom-color-on-caution-container-dark: #ffd6ff;
  --md-custom-color-tip-dark: #55de9e;
  --md-custom-color-on-tip-dark: #003822;
  --md-custom-color-tip-container-dark: #005233;
  --md-custom-color-on-tip-container-dark: #75fbb8;
  --md-custom-color-note-dark: #9ecaff;
  --md-custom-color-on-note-dark: #003258;
  --md-custom-color-note-container-dark: #00497d;
  --md-custom-color-on-note-container-dark: #d1e4ff;
}
