:root {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 125%;
}

pre,
tt,
code,
kbd,
samp {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

dt {
  font-weight: bold;
}

.material-icons {
  display: inline-block;
  font-family: "Material Icons", monospace;
  font-size: 1.2em;
  width: 1em;
  height: 1em;
}

em em { /* stylelint-disable-line */
  font-style: normal;
}

strong strong { /* stylelint-disable-line */
  font-weight: normal;
}

/* MARK: hacks */
pre,
code {
  overflow-x: auto;
}

iframe {
  max-width: 100% !important;
}
