<footer class="footer">
  <div class="columns">
    <aside>
      <h1>Contact me</h1>
      <p><a href="mailto://rolf@drostan.org" rel="me">rolf@drostan.org</a></p>
      <p><a href="https://www.drostan.org/contact/" rel="me" title="Pick a suitable time for both of us to talk.">schedule a call or meeting</a></p>
    </aside>

    <aside>
      <h1>Hire me via</h1>
      <p><a href="https://www.data4development.nl">Data4Development B.V.</a></p>
      <p><a href="mailto://rolf@data4development.org" rel="me">rolf@data4development.org</a></p>
    </aside>

    <aside>
      <h1>My office</h1>
      <p><a href="https://www.timorplein.com" target="_blank" rel="noopener">U-30</a><br><a href="https://www.google.nl/maps/dir//Timorplein+30,+1094+CC+Amsterdam" target="_blank" rel="noopener">Timorplein 30<br>Amsterdam, The Netherlands</a></p>
    </aside>

    <aside>
      <h1>Official links</h1>
      <p><a href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=615707450000" title="Chamber of Commerce/Kamer van Koophandel registration, click to verify" target="_blank">Registration: KvK 61570745</a></p>
      <p><a href="https://ec.europa.eu/taxation_customs/vies/vatResponse.html?memberStateCode=NL&amp;number=001411397B38" title="VAT or BTW registration: click to verify" target="_blank">VAT/BTW: NL001411397B38</a></p>
    </aside>

    <aside>
      <h1>Follow me</h1>
      <p><a href="https://twitter.com/rolfkleef" target="_blank" rel="me noopener noreferrer">
        <svg class="icon icon-twitter" aria-hidden="true" role="presentation">
          <use href="#icon-twitter" xlink:href="#icon-twitter"></use>
        </svg>
      </a>&nbsp;
        <a href="https://linkedin.com/in/rolfkleef" target="_blank" rel="me noopener noreferrer">
          <svg class="icon" aria-hidden="true" role="presentation">
            <use href="#icon-linkedin" xlink:href="#icon-linkedin"></use>
          </svg>
        </a>&nbsp;
        <a href="https://github.com/rolfkleef" target="_blank" rel="me noopener noreferrer">
          <svg class="icon" aria-hidden="true" role="presentation">
            <use href="#icon-github" xlink:href="#icon-github"></use>
          </svg>
        </a>&nbsp;
        <a href="https://gitlab.com/rolfkleef" target="_blank" rel="me noopener noreferrer">
          <svg class="icon" aria-hidden="true" role="presentation">
            <use href="#icon-gitlab" xlink:href="#icon-gitlab"></use>
          </svg>
        </a>&nbsp;
        <a href="https://www.meetup.com/members/772746/" target="_blank" rel="me noopener noreferrer">
          <svg class="icon" aria-hidden="true" role="presentation">
            <use href="#icon-meetup" xlink:href="#icon-meetup"></use>
          </svg>
        </a>&nbsp;
        <a href="https://www.drostan.org/feed/" target="_blank" rel="me noopener noreferrer">
          <svg class="icon" aria-hidden="true" role="presentation">
            <use href="#icon-rss" xlink:href="#icon-rss"></use>
          </svg>
        </a></p>
    </aside>
  </div>

  <div class="credits">
    <p><a href="/overview/colophon.html">colophon and copyright</a></p>
  </div>
</footer>
