<a href="https://drostan.org" rel="home">
  <img src="{{{uiRootPath}}}/img/rolfkleef_150x150.png" alt="Rolf Kleef, drostan.org">
</a>
<h1>Rolf Kleef</h1>
<p>Making internet work for civil society.</p>
