<a href="https://drostan.org">Home</a>
<a href="https://drostan.org/about.html">About me</a>
<a href="https://drostan.org/about.html">Now</a>
<a href="https://drostan.org/contact.html">Contact</a>
<a href="{{{or site.url siteRootPath}}}" class="is-active" aria-selected="true">{{site.title}}</a>
