<!-- MARK: header
  -->
<header>
  <div>
    <button class="material-icons" popovertarget="docnav-popover">menu</button>
    {{> header-brand}}
    <form id="theme-selector">
      <input type="radio" id="mode-system" name="mode" value="system" checked="">
      <label for="mode-system" title="switch to system theme" class="material-icons">dark_mode</label>
      <input type="radio" id="mode-light" name="mode" value="light">
      <label for="mode-light" title="switch to light theme" class="material-icons">contrast</label>
      <input type="radio" id="mode-dark" name="mode" value="dark">
      <label for="mode-dark" title="switch to dark theme" class="material-icons">light_mode</label>
    </form>
  </div>
  <nav>
    {{> header-nav}}
  </nav>
</header>
