<!-- MARK: header
  -->
<header>
  <div>
    <button class="material-icons" popovertarget="docnav-popover">menu</button>
    <a href="https://drostan.org" rel="home">
      <img src="_/img/rolfkleef_150x150.png" alt="Rolf Kleef, drostan.org">
    </a>
    <h1>Rolf Kleef</h1>
    <p>Making internet work for civil society.</p>
    <form id="theme-selector">
      <input type="radio" id="mode-system" name="mode" value="system" checked="">
      <label for="mode-system" title="switch to system theme" class="material-icons">dark_mode</label>
      <input type="radio" id="mode-light" name="mode" value="light">
      <label for="mode-light" title="switch to light theme" class="material-icons">contrast</label>
      <input type="radio" id="mode-dark" name="mode" value="dark">
      <label for="mode-dark" title="switch to dark theme" class="material-icons">light_mode</label>
    </form>
  </div>
  <nav>
    {{> header-nav}}
  </nav>
</header>
