{{#each navigation}}
  {{#if ./content}}
    {{#if ./items.length}}
      <details open="true">
        <summary>
          {{> nav-tree-item}}
        </summary>
    {{else}}
      {{> nav-tree-item}}
    {{/if}}
  {{/if}}
  {{> nav-tree navigation=./items level=(increment ../level)}}
  {{#if ./content}}
    {{#if ./items.length}}
      </details>
    {{/if}}
  {{/if}}
{{!--  </li>--}}
{{/each}}
