{{#each navigation}}
  {{#if ./items.length}}
    <details>
      <summary>
        {{> nav-tree-item}}
      </summary>
      {{> nav-tree navigation=./items level=(increment ../level)}}
    </details>
  {{else}}
    <div>{{> nav-tree-item}}</div>
    {{> nav-tree navigation=./items level=(increment ../level)}}
  {{/if}}
{{/each}}
