{{#each navigation}}
  {{#if ./content}}
    {{#if ./items.length}}
      <details>
        <summary>
          {{> nav-tree-item}}
        </summary>
    {{else}}
      <div>{{> nav-tree-item}}</div>
    {{/if}}
  {{/if}}
  {{> nav-tree navigation=./items level=(increment ../level)}}
  {{#if ./content}}
    {{#if ./items.length}}
      </details>
    {{/if}}
  {{/if}}
{{/each}}
