<a class="navbar-link" href="https://www.drostan.org">Home</a>
<a class="navbar-link" href="https://www.drostan.org/about/">About Rolf</a>
<a class="navbar-link" href="https://www.drostan.org/contact/">Contact</a>
