<a class="navbar-link" href="https://drostan.org">Home</a>
<a class="navbar-link" href="https://drostan.org/about/">About Rolf</a>
<a class="navbar-link" href="https://drostan.org/contact/">Contact</a>
<a class="navbar-link" href="https://notes.drostan.org">Notes</a>
