<form class="search-form" action="https://drostan.org/" method="get" role="search" id="search-6395d96c23802"
      data-hs-cf-bound="true">
  <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
    <input class="mdc-text-field__input" type="text" aria-labelledby="search-label-6395d96c23803" name="s" value="">
    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
       role="button">search</i>
    <div class="mdc-notched-outline mdc-notched-outline--upgraded">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch" style="">
        <span class="mdc-floating-label" id="search-label-6395d96c23803" style="">Search</span>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </label>
</form>

