<aside id="secondary" class="widget-area mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <section id="block-9" class="widget widget_block">
        <h2>Rolf Kleef</h2>
      </section>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <section id="block-8" class="widget widget_block">
        <div class="wp-block-columns is-layout-flex wp-container-4">
          <div class="wp-block-column is-layout-flow" style="flex-basis:100%">
            <h2>drostan.org</h2>
        </div>
      </section>
    </div>
  </div>
</aside><!-- #secondary -->
