footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
}

.footer .columns {
  display: flex;
  flex-flow: row wrap;
}

.footer .credits {
  margin-top: 2em;
  color: var(--color-gray-30);
  display: flex;
  justify-content: center;
}

.footer .credits a {
  font-weight: bolder;
  color: inherit;
}

.footer aside {
  margin: 1rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer h1 {
  font-size: calc(15 / var(--rem-base) * 1rem);
}

.footer ul {
  padding-left: 1em;
}
