.toc .toc-menu ul {
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--toc-line-height);
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc.sidebar .toc-menu ul {
  max-height: var(--toc-height);
  overflow-y: auto;
  overscroll-behavior: none;
}

@supports (scrollbar-width: none) {
  .toc.sidebar .toc-menu ul {
    scrollbar-width: none;
  }
}

.toc .toc-menu ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 1024px) {
  .toc .toc-menu h3 {
    font-size: calc(15 / var(--rem-base) * 1rem);
  }

  .toc .toc-menu ul {
    font-size: calc(13.5 / var(--rem-base) * 1rem);
  }
}

.toc .toc-menu li {
  margin: 0;
}

.toc .toc-menu a {
  color: inherit;
  border-left: 2px solid var(--toc-border-color);
  display: inline-block;
  padding: 0.25rem 0 0.25rem 0.5rem;
  text-decoration: none;
}

.sidebar.toc .toc-menu a {
  display: block;
  outline: none;
}

.toc .toc-menu a:hover {
  color: light-dark(var(--md-sys-color-secondary-light), var(--md-sys-color-secondary-dark));
}

.toc .toc-menu a.is-active {
  border-left-color: light-dark(var(--md-sys-color-secondary-light), var(--md-sys-color-secondary-dark));
  color: light-dark(var(--md-sys-color-on-background-light), var(--md-sys-color-on-background-dark));
}

.sidebar.toc .toc-menu a:focus {
  background: light-dark(var(--md-sys-color-surface-light), var(--md-sys-color-surface-dark));
}

.toc .toc-menu .is-hidden-toc {
  display: none !important;
}
