:root {
  /* colors */
  --color-gray-10: #c1c1c1;
  --color-gray-30: #9c9c9c;
  --color-gray-40: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-second-regular: #80cbc4;
  --color-second-hover: #104d92;
  --color-highlight: #ffff80;
  --color-black: #000;
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1rem; /* 17px */
  --body-font-size--desktop: 1rem; /* 18px */
  --body-font-size--print: 1rem; /* 15px */
  --body-line-height: 1.15;
  --body-font-weight-bold: 700;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;

  /* base */
  --panel-border-color: var(--mdc-theme-background);
  --scrollbar-track-color: var(--mdc-theme-surface-mix-12);
  --scrollbar-thumb-color: var(--mdc-theme-surface-mix-4);
  --scrollbar_hover-thumb-color: var(--mdc-theme-surface-mix-12);
  /* nav */
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--mdc-theme-on-surface);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--mdc-theme-surface-mix-12);
  --nav-secondary-background: var(--mdc-theme-surface-mix-4);
  /* toolbar */
  --toolbar-background: var(--md-sys-color-background);
  --toolbar-border-color: var(--color-gray-10);
  --toolbar-font-color: var(--mdc-theme-surface-mix-12);
  --toolbar-muted-color: var(--mdc-theme-surface-mix-4);
  --page-version-menu-background: var(--mdc-theme-surface-mix-12);
  --page-version-missing-font-color: var(--mdc-theme-surface-mix-4);
  /* doc */
  --doc-font-size: inherit;
  --doc-font-size--desktop: 1em;
  --doc-line-height: 1.6;
  --doc-margin: 1em auto;
  --doc-margin--desktop: 1rem 2rem;
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --abstract-background: var(--mdc-theme-surface-mix-12);
  --abstract-font-color: var(--md-sys-color-on-background);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--md-sys-color-surface);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-style: italic;
  --caption-font-weight: var(--body-font-weight-bold);
  --kbd-background: var(--md-sys-color-surface);
  --kbd-border-color: var(--md-sys-color-surface);
  --pre-background: var(--md-sys-color-surface);
  --pre-border-color: var(--md-sys-color-surface);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--md-sys-color-surface);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-40);
  --sidebar-background: var(--mdc-theme-surface-mix-12);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--md-sys-color-surface);
  --table-footer-background: var(--mdc-theme-surface-mix-4);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--md-sys-color-on-background);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--md-sys-color-surface-variant);
  --footer-font-color: var(--md-sys-color-on-surface-variant);
  --footer-link-font-color: var(--md-sys-color-secondary);
  /* dimensions and positioning */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-width: calc(500 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(1028 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
