article {
  h1,
  h2,
  .title {
    color: light-dark(var(--md-sys-color-primary-light), var(--md-sys-color-primary-dark));
  }

  h1,
  h2,
  h3 {
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .anchor {
      position: absolute;
      text-decoration: none;
      width: 0.7em;
      margin-left: -0.7em;
      visibility: hidden;
      font-size: 0.6em;
      font-weight: normal;
      padding-top: 0.1em;

      &::before {
        content: "\00a7";
      }
    }

    &:hover .anchor {
      visibility: visible;
    }
  }

  .underline {
    text-decoration: underline;
  }

  .line-through {
    text-decoration: line-through;
  }

  a {
    color: light-dark(var(--md-sys-color-secondary-light), var(--md-sys-color-secondary-dark));

    &[target="_blank"]::after {
      font-family: "Material Icons", sans-serif;
      content: "open_in_new";
      color: light-dark(var(--md-sys-color-outline-light), var(--md-sys-color-outline-dark));
      font-size: 0.6em;
      padding-inline: 0.15em 0.25em;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      background-color: light-dark(var(--md-sys-color-secondary-container-light), var(--md-sys-color-secondary-container-dark));
    }
  }

  code,
  kbd,
  pre {
    background: light-dark(var(--md-sys-color-surface-light), var(--md-sys-color-surface-dark));
    color: inherit;
    padding: 0.15em;
    hyphens: none;
  }

  kbd {
    border: 1px solid light-dark(var(--md-sys-color-outline-light), var(--md-sys-color-outline-dark));
    border-radius: 0.25em;
    font-size: 0.6em;
    margin: 0 0.1em;
    white-space: nowrap; /* effectively ignores hyphens setting */

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .button {
    white-space: nowrap; /* effectively ignores hyphens setting */

    &::before {
      content: "[";
      padding-right: 0.2em;
    }

    &::after {
      content: "]";
      padding-left: 0.2em;
    }
  }

  mark {
    background-color: light-dark(var(--md-sys-color-secondary-container-light), var(--md-sys-color-secondary-container-dark));
    color: inherit;
    padding: 0.15em;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }
}
