<!DOCTYPE html>
<html lang="en">

<head>
{{> head defaultPageTitle='Untitled'}}
</head>

<body class="home wp-custom-logo mdc-typography hfeed no-sidebar customize-support article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
<div id="content" class="body site-content">
{{> nav }}
  <div>
    <div id="primary" class="content-area">
      <main id="main" class="site-main doc">
        {{> main }}
        {{> pagination }}
      </main><!-- #main -->
    </div><!-- #primary -->

    {{> secondary }}
  </div>
</div>
{{> footer}}
{{> icons-svg }}
{{> footer-scripts}}
</body>

</html>
